.help{
    margin-top: 10px;
    font-size: 12px;
}
.help-danger{
    color: red;
}
.help::after {
    /*
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: #FFF0 transparent #f000 transparent;
    top: 25px;
    left: 50px;
    position: absolute;
    text-align: left;
    border-bottom-color: #D9534F;
    font-size: 12px;
    */
}
*{
    font-family: roboto;
}